
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "montserratRegular", sans-serif;
    min-height: 100vh;
    background-color: #EFF7FF;
    margin: 0;
    padding-top:110px;
}

header{
    height:110px;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background: no-repeat url("img/fond.png");
    background-size: cover;
    position: fixed;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 10px 20px;
    z-index: 100;
}

header img{
    height: 60px;
    width: auto;
    
}

.linkTitreSite{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right:25px;
}

.titreSite{
    margin:0;
    font-family:"montserratExtraBold", sans-serif;
    font-size:1.7rem;
    color:white;
    position:relative;
    left:-16px;
    bottom:-9px;
    
}

/*mise en place de la barre de nav*/

#navbar{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}

.linkNavbar{
    text-decoration: none;
    color: white;
    font-family: "montserratExtraBold", sans-serif;
    font-size:0.8rem;
    text-transform: uppercase;
    background-color: #080e50;
    padding:8px 15px 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}


.linkNavbar:hover{
    background-color: #cf9e00;
}


.linkActive{
    /*je n'ai pas trouvé de propriéte pour faire ca automatiquement
    cela est peut-etre du au rechargement de page*/
    background-color: #cf9e00;
}

.linkDefaut{
    background-color: #080e50;
}

@media(max-width:850px){

    header{
        height:auto;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-end;
    }

    

}

@media(max-width:400px){
    .titreSite{
        font-size:1.4rem;
    }

    .linkTitreSite{
        margin-right:0px;
    }

    .linkNavbar{
        font-size:0.6rem;
    }
}