/*Je stylise ce qui apparait sur la page lorsque l'on se connecte*/

.msgArv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    background-color: rgba(0, 0, 0, 0.156);
    padding:20px;
}

.descr,.bienvenue{
    margin:0;
    text-align: center;
}


.videoContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: blur(5px);
}

.bienvenue{
    font-family:"montserratExtraBold", sans-serif !important;
    text-transform: uppercase;
    font-size:3rem;
}

.descr{
    font-size:1.3rem;
    /* background-color:#080e50;
    padding:5px;
    border-radius:5px;
    text-align: center; */
}

.logo{
    position:absolute;
    width:200px;
    z-index:100;
    top:-120px;
    right:-120px;
    transform: rotate(20deg);
    filter: grayscale(100);
}

/*Je stylise ce qui apparait sur la page des compétitions actives*/

.titleCompet{
    font-family:"montserratExtraBold", sans-serif;
}

section{
    padding:25px;
}

.cardCompet{
    background-color:white;
    padding:20px;
    border-radius:20px;
}

.cardTitle{
    margin:25px,0px 0px 0px;
}



@media(max-width:790px){
    .logo{
        display:none;
    }
}

@media(max-width:850px){
    body{
        padding-top:150px;
    }

    .msgArv{
        background-color: rgba(0, 0, 0, 0);
    }
}