main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    gap:20px;
}

main div{
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
}

h3{
    float: right;
    font-family: Andale Mono, monospace;
    color: aliceblue;
}

#profile{
    margin-left: auto;
}

#profile button{
    border: none;
    border-radius: 30px;
    background-color: #080e50;
}

.topMain{
    text-align: left;
    padding: 10px 15px 10px 15px;
    margin-bottom:20px;
}

#topClassement h2{
    margin: auto;
    font-family: Georgia, serif;
    font-style: italic;
}

.classement{
    width:200px;
    gap:20px;
    display: flex;
    padding:10px 20px 10px 20px;
}

.classement h2{
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;

}

.numero{
    width: 20px;
    height: 20px;
    background-color: #9b9b9b;
    border-radius: 50%;
    line-height: 20px;
    padding: 3px;
    text-align: center;
}

.carteProno{
    padding:10px;
}

.logoEquipe{
    max-width: 130px;
    height: auto;
}

.Carte{
    padding: 5px;
    border: rgba(98, 98, 98, 0.3) solid 0.08mm;
}

.selectionFinale{
    width: 100%;
    display: flex;
    text-align: center;
}

.selectionFinale label{
    z-index: 0;
}

.CorpCarte{
    display: flex;
    gap:12px;
}

.CorpCarte *{
    margin-top: auto;
    margin-bottom: auto;
}

.centreCard {
    position: sticky;
    left: 50%;
    right: 50%;
}

/*.inputScore{
    min-height: 15px;
    min-width: 15px;
    height: 36px;
    width: 36px;
    margin: auto 10px;
    text-align: center;
}*/

.left{
    margin-left: auto;
}

.right{
    margin-right: auto;
}

.point{
    margin-left: auto;
    font-size: 19px;
    font-family: Trebuchet MS, sans-serif;
    color: grey;
}

@media(max-width:850px){


    body{
        padding-top:200px;
    }

    header{
        height:auto;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-end;
    }

}



