section{
    padding:25px;
}

.titlePage{
    font-family:"montserratExtraBold", sans-serif;
    font-size:1.2rem;
}


body{
    padding-bottom: 60px;
}

.classementContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    gap:10px;
}

h3{
    float: right;
    font-family: Andale Mono, monospace;
    color: aliceblue;
}

#profile{
    margin-left: auto;
}

#profile button{
    border: none;
    border-radius: 30px;
    background-color: #080e50;
}


.classement-titre{
    text-align: center;
    min-width: 370px;
}

#topClassement h2{
    margin: auto;
    font-family: Georgia, serif;
    font-style: italic;
}

.classement{
    width:350px;
    height: 55px;
    background-color: white;
    border-radius: 40px;
}

.case-classement{
    height:100%;
    display: flex;
    gap:20px;
    align-items: center;
}

.logo-classement{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.bleu{
    border: #0B54CD solid 3px;
    color: #007bff;
    border-radius:40px;
}

.bleu .numero{
    color: white;
    background-color: #0B54CD;;
}

.classic{
    color: #151515;
}

.classement h2{
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;

}

.numero{
    font-family: "montserratExtraBold", sans-serif;
    height:100%;
    background-color: #e7c147;
    color:white;
    width:55px;
    border-radius:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    left:-3px;
}





.hautCarte{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.custom-pts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nbPoints{
     color: #fff;
     background-color: grey;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 14px;
     width: 40px;
     height: 40px;
     text-align: center;
     font-size: 19px;
     margin-right: 10px;
}

.logoEquipe{
    max-width: 130px;
    height: auto;
}

.Carte{
    padding: 5px;
    border: rgba(98, 98, 98, 0.3) solid 0.08mm;
}

.selectionFinale{
    width: 100%;
    display: flex;
    text-align: center;
}

.selectionFinale label{
    z-index: 0;
}

.CorpCarte{
    display: flex;
    gap:12px;
}

.CorpCarte *{
    margin-top: auto;
    margin-bottom: auto;
}

.left{
    margin-left: auto;
}

.right{
    margin-right: auto;
}

.point{
    margin-left: auto;
    font-size: 19px;
    font-family: Trebuchet MS, sans-serif;
    color: grey;
    margin:0px 20px 0px auto;

}

.loginUser{
    margin:0;
}

/*Je mets en place la page des pronos*/

.formPronostics{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.carteProno{
    background-color: white;
    border-radius: 20px;
    width:750px;
    box-shadow: 20px 20px 19.4px 1px rgba(0, 0, 0, 0.25);
    padding:10px;
    margin-bottom: 10px;

}

.submit{
    font-family: "montserratRegular", sans-serif;
    background-color: white;
    cursor: pointer;
    border:none;
    border-radius:25px;
    padding:5px 15px 5px 15px;
    transition:padding 0.3s ease-in-out;
    margin-top:30px;
}

.submit:hover{
    padding:5px 20px 5px 20px;
}

/*Je mets en place la section des résultats*/

.resultPronos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:850px){
    
    .centreCard {
        position: initial;
    }
    .Carte{
        padding:10px 2px;

    }
    .CorpCarte{
        gap:6px;
    }

    .carteProno{
        width:460px;
    }

}

@media(max-width:930px){

    body{
        padding-top:255px !important; 
    }
    header{
        height: auto !important;
    }

    #navbar{
        flex-direction:column;
        align-items:flex-end;

    }
}

@media(max-width:500px){
    .logoEquipe{
        width:80px;
    }

    .carteProno{
        width:320px;
    }

    .nomEquipe{
        display:none;
    }

}

@media(max-width:450px){
    .classement{
        width:260px;
        height:30px;
    }

    .loginUser{
        font-size:0.8rem;
    }

    .numero{
        width:30px;
    }
}



