section {
    padding: 25px;
}

.titlePage {
    font-family: "montserratExtraBold", sans-serif;
    font-size: 1.2rem;
}


body {
    padding-bottom: 60px;
}

.classementContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

h3 {
    float: right;
    font-family: Andale Mono, monospace;
    color: aliceblue;
}

#profile {
    margin-left: auto;
}

#profile button {
    border: none;
    border-radius: 30px;
    background-color: #080e50;
}


.classement-titre {
    text-align: center;
    min-width: 370px;
}

#topClassement h2 {
    margin: auto;
    font-family: Georgia, serif;
    font-style: italic;
}

.classement {
    width: 350px;
    height: 55px;
    background-color: white;
    border-radius: 40px;
}

.case-classement {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-classement {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.bleu {
    border: #0B54CD solid 3px;
    color: #007bff;
    border-radius: 40px;
}

.bleu .numero {
    color: white;
    background-color: #0B54CD;;
}

.classic {
    color: #151515;
}

.classement h2 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;

}

.numero {
    font-family: "montserratExtraBold", sans-serif;
    height: 100%;
    background-color: #e7c147;
    color: white;
    width: 55px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -3px;
}


.hautCarte {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.custom-pts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-pts-question {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nbPoints {
    color: #fff;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 19px;
    margin-right: 10px;
}

.logoEquipeUser {
    max-width: 130px;
    height: auto;
}

.Carte {
    padding: 5px;
    border: rgba(98, 98, 98, 0.3) solid 0.08mm;
}

.jaune {
    padding: 5px;
    background-color: #8bf3db;
    border-radius: 5px;
}

.selectionFinale {
    width: 100%;
    display: flex;
    text-align: center;
}

.selectionFinale label {
    z-index: 0;
}

.CorpCarte {
    display: flex;
    gap: 12px;
}

.CorpCarte * {
    margin-top: auto;
    margin-bottom: auto;
}

.left {
    margin-left: auto;
}

.right {
    margin-right: auto;
}

.point {
    margin-left: auto;
    font-size: 19px;
    font-family: Trebuchet MS, sans-serif;
    color: grey;
    margin: 0px 20px 0px auto;

}

.loginUser {
    margin: 0;
}

/*Je mets en place la page des pronos*/

.formPronostics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carteProno {
    background-color: white;
    border-radius: 20px;
    width: 750px;
    box-shadow: 20px 20px 19.4px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 10px;
}

.submit {
    cursor: pointer;
    font-family: "montserratRegular", sans-serif;
    background-color: white;
    color: #000000 !important;
    border: none;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    transition: padding 0.3s ease-in-out;
    margin-top: 30px;
}

.submit:hover {
    padding: 5px 20px 5px 20px;
}

/*Je mets en place la section des résultats*/

.resultPronos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Je stylise la page bonus*/
.allQuestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oneQuestion {
    background-color: white;
    padding: 20px 20px 50px 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    width: 700px;
    position: relative;
    box-shadow: 20px 20px 19.4px 1px rgba(0, 0, 0, 0.25);
}

.quest {
    margin-bottom: 30px;
}

.envoyerForm {
    font-family: "montserratRegular", sans-serif;
    padding: 5px 15px 5px 15px;
    background-color: #0B54CD;
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    cursor: pointer;
    transition: padding 0.3s ease-in-out;
}

.envoyerForm:hover {
    padding: 5px 20px 5px 20px;
}

.bonusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lienBonus {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: gray 2px solid;
    transition: padding 0.3s ease-in-out;
}

.lienBonus:hover {
    padding: 10px 15px 10px 15px;
}

.vainqueur {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "montserratExtraBold", sans-serif;
}


@media (max-width: 1170px) {

    body {
        padding-top: 202px !important;
    }

    header {
        height: auto !important;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-end !important;
        gap: 10px !important;

    }

    .linkNavbar {
        font-size: 0.6rem !important;
        padding: 5px 10px 5px 10px !important;
    }


}

@media (max-width: 850px) {

    .centreCard {
        position: initial;
    }

    .Carte {
        padding: 10px 2px;

    }

    .CorpCarte {
        gap: 6px;
    }

    .carteProno {
        width: 460px;
    }

    .oneQuestion {
        width: 450px;
    }

}

@media (max-width: 500px) {
    .logoEquipeUser {
        width: 80px;
    }

    .carteProno {
        width: 320px;
    }

    .nomEquipe {
        display: none;
    }

    .submit {
        width: 140px;
        height: 45px;
        font-size: 18px;
        border-radius: 30px;
    }

    .oneQuestion {
        width: 300px;
    }

    .quest {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .pointsGagne {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 35px;
    }
}

@media (max-width: 450px) {
    .classement {
        width: 260px;
        height: 30px;
    }

    .loginUser {
        font-size: 0.8rem;
    }

    .numero {
        width: 30px;
    }
}



