
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "montserratRegular", sans-serif;
    min-height: 100vh;
    background-color: #d5e8fb;
    margin: 0;
    padding-top:110px;
    
}

header{
    height:110px;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background: no-repeat url("../img/fond.png");
    background-size: cover;
    position: fixed;
    padding: 10px 20px 10px 20px;
    z-index: 100;
}

header img{
    height: 60px;
    width: auto;
}

#logoUser{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    cursor:pointer;
}

.linkTitreSite{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right:25px;
}

.titreSite{
    margin:0;
    font-family:"montserratExtraBold", sans-serif;
    font-size:1.7rem;
    color:white;
    position:relative;
    left:-16px;
    bottom:-9px;
}

/*mise en place de la barre de nav*/

#navbar{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}

li,ul{
    list-style: none;
}

.profilDetails{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 3%;
    padding: 20px;
    background-color:#1423c1;
}

.profilDetails *{
    margin-bottom: 10px;
}

.linkNavbar{
    text-decoration: none;
    color: white;
    font-family: "montserratExtraBold", sans-serif;
    font-size:0.8rem;
    text-transform: uppercase;
    background-color: #080e50;
    padding:8px 15px 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}


.linkNavbar:hover{
    background-color: #cf9e00;
}

.linkActive{
    /*je n'ai pas trouvé de propriéte pour faire ca automatiquement
    cela est peut-etre du au rechargement de page*/
    background-color: #cf9e00;
}

.linkDefaut{
    background-color: #080e50;
}

.drop-menu{
    height:70px;
}



@media(max-width:450px){
    .titreSite{
        font-size:1.4rem;
    }

    .linkTitreSite{
        margin-right:0px;
    }

    .linkNavbar{
        font-size:0.6rem;
    }
}