.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {

    .pForm {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    header {
        height: auto;
    }

    #navbar {
        flex-direction: column;
    }

    body {
        padding-top: 170px;
    }
}