
img {
    width: 220px;
    height: 220px;
}

#liste_equipe{
    padding: 10px 20px;;
    color: #007bff; /* Couleur du texte */
    background-color: transparent; /* Couleur de fond transparente */
    transition: background-color 0.3s, color 0.3s; /* Animation au survol */

    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

#liste_equipe:hover {
    background-color: #007bff; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}

#liste_equipe img {
    width: 25px;
    height: 25px;
}

#modif_equipe{
    background-color: rgb(229, 229, 172);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

